<div
    class="bg-red-100 dark:bg-[var(--dark-salmon)] xl:h-[95vh] lg:h-[80vh] sm:h-[60vh] h-[40vh] transition"
>
    <haru-header class="h-full"></haru-header>
</div>

<!-- specials -->
<div
    id="specials"
    class="bg-white dark:bg-cyan-600 lg:py-8 md:py-6 py-4 transition"
>
    <div class="flex justify-center">
        <div
            class="font-bold lg:text-2xl sm:text-xl text-lg text-center lg:mb-8 md:mb-6 mb-4"
        >
            HARU SPECIALS & MORE
        </div>
    </div>
</div>

<haru-landing-page-menu-section></haru-landing-page-menu-section>
