<div class="grid grid-cols-12 h-full">
    <!-- spinning logo -->
    <div
        class="relative w-full h-full sm:col-span-6 col-span-5 sm:col-start-1 col-start-2"
    >
        <haru-logo-svg
            class="absolute top-0 left-0 w-full h-full"
            svgClass="scale-50"
        >
        </haru-logo-svg>
        <haru-logo-text
            class="absolute top-[50px] left-0 w-full h-full"
            svgClass="rotate-5s"
        >
        </haru-logo-text>
    </div>
    <!-- title -->
    <div class="flex flex-col justify-center h-full col-span-4 col-start-8">
        <hr class="border xl:my-8 lg:my-6 md:my-4 my-2" />
        <div class="xl:my-8 lg:my-6 md:my-4 my-2">
            <div
                class="xl:text-6xl lg:text-4xl md:text-2xl text-lg text-center"
            >
                FRESH JUICE
            </div>
            <div
                class="xl:text-6xl lg:text-4xl md:text-2xl text-lg text-center"
            >
                & MANGA
            </div>
        </div>
        <hr class="border xl:my-8 lg:my-6 md:my-4 my-2" />
    </div>
</div>
