<div class="flex flex-col w-full gap-0.5">
	@for (categoryGroup of categoryGraphService.getCategoryNodes(); track $index) {
    <mat-button-toggle-group
      class="w-full !grid"
      hideMultipleSelectionIndicator
      hideSingleSelectionIndicator
      [ngStyle]="getStyle(categoryGroup)">
      @for (category of categoryGroup.childCategories; track $index) {
      <mat-button-toggle
        [value]="category"
        class="col-span-1"
        (change)="onToggleButtonClicked($event)"
        [checked]="categoryGraphService.isCategorySelected(category)"
        >{{ category }}</mat-button-toggle
      >
      }
    </mat-button-toggle-group>
	}
</div>

<!-- <div class="xl:w-[80%] xl:mx-auto w-full">
@for (categoryGroup of categoryGroupKeys; track $index) {
<mat-chip-listbox
	class="w-full"
	multiple>
	@for (category of categoryGroups[categoryGroup]; track $index) {
	<mat-chip-option
		(selectionChange)="onToggleButtonClicked($event)"
		[value]="category"
		>{{ category }}</mat-chip-option
	>
	}
</mat-chip-listbox>
}
</div> -->
