<div class="h-full flex justify-between bg-cyan-100 rounded-lg flex transition-all">
	<div class="m-3 grow flex flex-col justify-between xl:w-[11em] w-[14em]">
		<div>
			<div class="font-bold flex items-start gap-1 mb-2">
				@if (menuItem().isFavorite) {
				<mat-icon
					inline
					class="text-yellow-500"
					>star</mat-icon
				>
				}{{ menuItem().name }}
			</div>
			@if (isDetailShown()) { @if (menuItem().description) {
			<p class="text-sm">{{ menuItem().description }}</p>
			} @if (menuItem().imageUrl && menuItem().imageUrl !== "") {
			<img
				imageDialog
				class="object-cover mx-auto xl:lg:md:my-4 my-2 md:h-[10em] h-auto md:w-auto w-full bg-teal-100 border-x-2 border-teal-200 rounded-lg"
				[src]="menuItem().imageUrl"
				[alt]="menuItem().name" />
			} }
		</div>
		<div class="flex justify-between">
			<div class="flex gap-2 items-center">
				<p class="text font-medium">{{ menuItem().price | currency }}</p>
				@if (menuItem().size !== undefined) {
				<p class="text-sm text-gray-500">{{ menuItem().size }}</p>
				} @if (menuItem().categories?.includes(Category.Hot)) {
				<p class="text-sm text-gray-500">Hot</p>
				} @if (menuItem().categories?.includes(Category.Cold)) {
				<p class="text-sm text-gray-500">Cold</p>
				}
			</div>
			@if (hasDetail()) {
			<button
				matRipple
				(click)="isDetailShown.set(!isDetailShown())"
				class="rounded-full w-[24px] h-[24px]">
				<mat-icon
					[ngClass]="{
          'transition-transform w-[1em] h-[1em]': true,
          'rotate-180': isDetailShown(),
        }"
					>keyboard_arrow_down</mat-icon
				>
			</button>
			}
		</div>
	</div>
	@if (isDetailShown() === false && menuItem().imageUrl && menuItem().imageUrl !== "") {
	<img
		imageDialog
		class="object-cover w-[6em] bg-teal-100 border-l-2 border-teal-200 rounded-lg"
		[src]="menuItem().imageUrl"
		[alt]="menuItem().name" />
	}
</div>
