<div class="w-full haru-card !p-0 rounded-lg overflow-hidden">
    <img
        class="w-full aspect-square object-contain"
        [src]="menuItem().imageUrl"
        [alt]="menuItem().name"
        [style.height]="imageHeight()"
    />
    <div
        class="flex flex-col gap-1 justify-between bg-white dark:bg-slate-900 p-3"
        [style.height]="infoHeight()"
    >
        <div class="overflow-hidden">
            <div class="font-bold flex items-start gap-1">
                @if (menuItem().isFavorite) {
                    <mat-icon inline class="text-yellow-500">star</mat-icon>
                }
                {{ menuItem().name }}
            </div>
            @if (menuItem().description) {
                <p class="text-sm">
                    {{ menuItem().description }}
                </p>
            }
        </div>
        <div class="flex gap-2 items-end">
            <p class="text font-medium">
                {{ menuItem().price | currency }}
            </p>
            @if (menuItem().sizes.length > 0) {
                @for (size of menuItem().sizes; track $index) {
                    <p class="text-sm text-slate-500 dark:text-slate-400">
                        {{ size.name }}
                    </p>
                }
            }
            @if (hasHotTag()) {
                <p class="text-sm text-slate-500 dark:text-slate-400">Hot</p>
            }
            @if (hasColdTag()) {
                <p class="text-sm text-slate-500 dark:text-slate-400">Cold</p>
            }
            @for (tagName of displayOnlyTags(); track $index) {
                <p class="text-sm text-slate-500 dark:text-slate-400">
                    {{ tagName }}
                </p>
            }
        </div>
    </div>
</div>
