<div
    class="h-full flex flex-col flex-col-reverse md:flex-row justify-between haru-card !p-0 rounded-lg flex transition-all"
>
    <div class="grow flex flex-col justify-between p-4">
        <div>
            <div class="font-bold flex items-start gap-1 mb-2">
                @if (menuItem().isFavorite) {
                    <mat-icon inline class="text-yellow-500">star</mat-icon>
                }
                {{ menuItem().name }}
            </div>
            @if (menuItem().description) {
                <p class="text-sm">{{ menuItem().description }}</p>
            }
        </div>
        <div class="flex gap-2 items-center">
            <p class="text font-medium">
                {{ menuItem().price | currency }}
            </p>
            @if (menuItem().sizes.length > 0) {
                @for (size of menuItem().sizes; track $index) {
                    <p class="text-sm text-gray-500">{{ size.name }}</p>
                }
            }
            @if (hasHotTag()) {
                <p class="text-sm text-gray-500">Hot</p>
            }
            @if (hasColdTag()) {
                <p class="text-sm text-gray-500">Cold</p>
            }
        </div>
    </div>

    @if (menuItem().imageUrl && menuItem().imageUrl !== '') {
        <img
            imageDialog
            class="object-cover h-[15em] md:h-[10em] rounded-lg cursor-pointer bg-white border-teal-200 border-solid border-s-2"
            [src]="menuItem().imageUrl"
            [alt]="menuItem().name"
        />
    }
</div>
