/* @use "@angular/material" as mat; */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import "./styles/rotate.css";
@import "./styles/keen-slider.min.css";
@custom-variant dark (&:where(.dark, .dark *));

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
} /* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --dark-salmon: #e9967a;
}

/* * {
  outline: 1px red solid;
} */
